<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Struts2 Application</display-name>
  <listener>
    <listener-class> org.apache.struts2.tiles.StrutsTilesListener </listener-class>
  </listener>
  <listener>
    <listener-class>com.weddfix.web.util.ServletListener</listener-class>
  </listener>
  <context-param>
    <param-name>tilesDefinitions</param-name>
    <param-value>/WEB-INF/tiles.xml</param-value>
  </context-param>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>
            org.apache.struts2.dispatcher.FilterDispatcher
     </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>/jsp-pages/common/index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/jsp-pages/common/exception.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/jsp-pages/common/exception.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/jsp-pages/common/exception.jsp</location>
  </error-page>
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MatchesServlet</display-name>
    <servlet-name>MatchesServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.MatchesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatchesServlet</servlet-name>
    <url-pattern>/matches.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MessagesServlet</display-name>
    <servlet-name>MessagesServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.MessagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessagesServlet</servlet-name>
    <url-pattern>/messages.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpgradeServlet</display-name>
    <servlet-name>UpgradeServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.UpgradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpgradeServlet</servlet-name>
    <url-pattern>/upgrade.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CommentServlet</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/comment.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ProfileSettingsServlet</display-name>
    <servlet-name>ProfileSettingsServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.ProfileSettingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileSettingsServlet</servlet-name>
    <url-pattern>/profilesettings.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>SendInfoServlet</display-name>
    <servlet-name>SendInfoServlet</servlet-name>
    <servlet-class>com.weddfix.web.mobile.SendInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendInfoServlet</servlet-name>
    <url-pattern>/sendinfo.json</url-pattern>
  </servlet-mapping>
</web-app>